apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

commonLabels:
  app.kubernetes.io/name: xcodereview
  app.kubernetes.io/component: backend
  app.kubernetes.io/managed-by: kustomize

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml

images:
  - name: xcodereview/backend
    newTag: latest
